<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/contribution.js"></script>
  </head>
<body>
  <%- include("partials/_header") %>
  <%console.log("Story object: ", storyObj)%>
  <%console.log("Contributions Array: ", contributionArr)%>

  <main class="container">
    <article class="view-story" id="<%= storyObj.id %>">
      <div class="story-header">
        <h3><%=storyObj.name%></h3>
        <h3><%=status%></h3>
      </div>
      <!-- <div class="story-content"><%=storyObj.story%></div> -->
      <div class="story-content"><%=storyObj.story%></div>
    </article>
    <div id="new-contribution">
      <h2>Contribute to This Story</h2>
      <section>
        <form action="/story/:id" method="Put">
          <textarea name="story" id="story-text"></textarea>
          <div>
            <button type="submit" class="button">Submit</button>
          </div>
        </form>
      </section>
    </div>
    <h2>Contributions</h2>
    <div class="container">
      <%for (const contribution of contributionArr) { %>
        <article class="story-contribution" id= "contribID_<%= contribution.id %>" >
          <p class="contribution-body"><%=contribution.contribution%></p>
          <div class="contribution-footer">
            <a href=""><i class="far fa-thumbs-up"></i></a>
            <p>Votes:<%=contribution.vote%></p>
          </div>
          <%if (Number(sessionId) === storyObj.writer_id) { %>
            <form>
              <button type="submit">Accept</button>
            </form>
          <%}%>
        </article>
      <%}%>

    </div>

  </main>

</body>
</html>
